* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 940px;
  margin: 0 auto;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
}

header .container .logo {
  display: flex;
  align-items: center;
}

header .container .logo .star {
  padding-right: 8px;
}

header .container .logo a {
  color: #161616;
  font-size: 24px;
}

header .container .ul-nav {
  display: flex;
}

header .container .ul-nav li {
  padding-right: 20px;
}

header .container .ul-nav li .icons-nav {
  color: #5ca720;
}

main .banner {
  background: url("/assets/banner.png") no-repeat;
  height: 60vh;
}

main .container .cabecalho-produtos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

main .container .cabecalho-produtos h2 {
  text-transform: uppercase;
  font-size: 20px;
}

main .container .cabecalho-produtos p {
  font-size: 20px;
}

hr {
  border-top: 1px solid #a5a1a1;
}

main .container .ul-produtos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 40px 0 40px 0;
}

main .container .ul-produtos li {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 50px;
}

main .container .ul-produtos li img {
  width: 240px;
  height: 200px;
}

main .container .ul-produtos li .titulo-produto {
  padding: 15px 0;
  font-size: 18px;
}

main .container .ul-produtos li .preco {
  color: #5ca720;
  font-size: 18px;
  font-weight: bold;
}

main .container .ul-produtos li span {
  color: #161616;
  padding-right: 4px;
  font-size: 14px;
}
